@import url('/css/960.css');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 130%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cleaner, .cleaner_left, .cleaner_right {
  clear: both;
  height: 1px;
  font-size: 1px;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: 1px;
}

/* common site css */
html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map_canvas { height: 100% }

body {
  background-color: #98BD9C;
  font-family: 'Aurulent Sans', Helvetica, Arial, sans-serif;
}

strong {
  font-style: bold;
}

a:link,
a:visited {
  color: #69B;
}

a:hover,
a:active {
  color: #333;
  text-decoration: none;
}

.col-left,
.col-right {
/*  float: left;*/
}

.col-left {
  top: 120px;
  position: absolute;
  width: 350px;
  margin: 0 15px;
  height: 65%;
  overflow-y: auto;
  padding: 15px;
  background-color: #FFF;
  z-index: 1000;
  border-radius: 5px;
  webkit-box-shadow: 10px 10px 5px #888;
  moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

.col-right {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #AFAFAF;
}

#outer {
  width: 100%;
  height: 100%;
  margin: none;
  background-color: #FFF;
  padding: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 35px;
  width: 100%;
  background-color: #FFF;
}

#footer .haemapod {
  position: absolute;
  right: 0;
  bottom: 0;
}

#footer p {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  font-size: small;
}

#footer p a {
  color: black;
}

#map_canvas { 
  width: 100%;
  height: 100%;
}

#map-key {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid #333;
  z-index: 1000;
  background-color: #FFF;
}

#map-key .what {
  float: left;
  margin: 15px 0 0 15px;
}

#map-key .what a {
  font-weight: bold;
  font-size: 300%;
  text-decoration: none;
  font-family: 'firsttest', 'Aurulent Sans', Helvetica, Arial, sans-serif;
  color: #69B;
}

#map-key .what a:hover {
  text-decoration: underline;
}

#map-key .key-actions {
  float: right;
  margin: 20px 20px 18px 20px;
}

#map-key ul {
  margin: 0;
}

#map-key li {
  position: relative;
  margin-left: 30px;
}

#map-key li span {
  left: -17px;
  top: 2px;
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #C42816;
}

#map-key li span.circle {
  width: 10px;
  height: 10px;
  background-color: #C42816;
  border-radius: 6px;
  border: 1px solid #666;
}

#map-key li span.marker {
  top: -2px;
  width: 12px;
  height: 20px;
  background: transparent url('/images/spaceup-pin-12x20.png') no-repeat 0 0;
}

h2, h3 {
  clear: both;
  font-weight: bold;  
  margin: .5em 0 1em;
}

h2 {
  font-size: 150%;
  font-weight: normal;
}

p {
  margin-bottom: 1em;
}

ul {
  margin-bottom: 1em;
}

li {
  clear: both;
}

/* forms */

form p {
  position: relative;
}

form input,
form select {
  font-size: 1em;
}

form input[type=text] {
  border: solid #AAA;
  border-width: 0 0 1px 0;
  padding: 0 5px;
}

#geocode_loading {
  width: 16px;
  height: 16px;
  background: url('/images/throbber.gif') no-repeat;
  visibility: hidden;
  display: inline-block;
  right: 0;
  top: 0;
}

/* sections/event */

.section-event {
  margin: 1em 0;
}

.section-event .name a {
  font-weight: bold;  
  text-decoration: underline;
  color: #69B;
  font-size: 110%;
}

.section-event .name a:hover {
  text-decoration: underline;
}

.section-event p {
  margin-bottom: .2em;
}

.section-event p.link a {
  color: black;
  text-decoration: none;
}

.section-event p.link a:hover {
  text-decoration: underline;
}

/* user details */

.user-details {
  margin-top: .2em;
  margin-bottom: 1em;
}

.user-details p.gravatar {
  float: left;
  margin-right: 10px;
}

.user-details p.link {
  margin: 0;
}

.user-details p.link a {
  color: black;
  text-decoration: none;
}

.user-details p.link a:hover {
  text-decoration: underline;
}


/* event details */
p.cityinfo span {
  display: block;
}

p.cityinfo span a {
  color: black;
}

p.cityinfo span a:hover {
  text-decoration: underline;
}

span.org {
  color: #F93;
  font-size: 80%;
}

li.attendee {
  padding-top: .3em;
}

a.person {
  text-decoration: none;
}

/* general italicizing */

p em {
  font-style: italic;
  color: gray;
}
