@import url('/css/960.css');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 130%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cleaner, .cleaner_left, .cleaner_right {
  clear: both;
  height: 1px;
  font-size: 1px;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: 1px;
}

/* common site css */
body {
  background-color: #989B9C;
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

a:link,
a:visited {
  color: #666;
}

a:hover,
a:active {
  color: #333;
  text-decoration: none;
}

.col-left,
.col-right {
  float: left;
}

.col-left {
  width: 350px;
  margin: 0 15px;
  height: 450px;
  overflow-y: auto;
}

.col-right {
  width: 805px;
  margin: 0;
  padding: 0;
}

#outer {
  width: 1200px;
  margin: 2em auto;
  background-color: #FFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px 0px, rgba(0, 0, 0, 0.0976562) 0px 0px 40px 0px inset;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px 0px, rgba(0, 0, 0, 0.0976562) 0px 0px 40px 0px inset;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
}

#footer {
  position: relative;
  margin: 0 15px;
  height: 35px;
}

#footer .haemapod {
  position: absolute;
  right: 0;
  bottom: 0;
}

#footer p {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  font-size: small;
}

#map_canvas { 
  width: 805px;
  height: 450px;
}

#map-key {
  padding-bottom: 10px;
  margin: 15px;
  border-bottom: 1px solid #333;
}

#map-key .what {
  float: left;
}

#map-key .key-actions {
  float: right;
}

#map-key ul{
  margin: 0;
}

#map-key li {
  display: inline;
  position: relative;
  margin-left: 30px;
}

#map-key li span {
  left: -17px;
  top: 2px;
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #C42816;
}

#map-key li span.circle {
  width: 10px;
  height: 10px;
  background-color: #C42816;
  border-radius: 6px;
  border: 1px solid #666;
}

#map-key li span.marker {
  top: -2px;
  width: 12px;
  height: 20px;
  background: transparent url('/images/spaceup-pin-12x20.png') no-repeat 0 0;
}

h2, h3 {
  clear: both;
  font-weight: bold;
  margin: .5em 0 1em;
}

h2 {
  font-size: 120%;
}

p {
  margin-bottom: 1em;
}

ul {
  margin-bottom: 1em;
}

li {
  clear: both;
}

/* sections/event */

.section-event {
  margin: 1em 0;
}

.section-event .name a {
  font-weight: bold;
}

.section-event p {
  margin-bottom: .2em;
}

/* user details */

.user-details {
  margin-top: .2em;
  margin-bottom: 1em;
}

.user-details p.gravatar {
  float: left;
  margin-right: 10px;
}

.user-details p.link {
  margin: 0;
}

/* event details */
p.cityinfo span {
  display: block;
}

span.org {
  color: #F93;
  font-size: 80%;
}

li.attendee {
  padding-top: .3em;
}

li.attendee a.person {
  text-decoration: none;
}

/* general italicizing */

p em {
  font-style: italic;
  color: gray;
}
