{% extends "wrapper.html" %}
{% block content %}
<script src="/js/geocoder.js"></script>

  <h2>Add yourself</h2>
  <form method="post">
    <p>Name <input type="text" name="name" value="{{user.preferred_name()|escape}}">

    <p>City <input type="text" name="city" value="{{user.city or ''|escape}}" onblur="geocode(this.value, 'lat', 'long')">
      <span id="geocode_loading"></span>
      <input type="hidden" name="lat" id="lat" value="{{user.location.lat or ''|escape}}">
      <input type="hidden" name="lon" id="long" value="{{user.location.lon or ''|escape}}">
    <p>To go to an event, I would
      <select name="distance">
          <option value="" {% if not user.distance %}selected="selected"{% endif %}>
            -- choose --
          </option>
        {% for choice in distance_choices %}
          <option value="{{choice[1]|escape}}" {% if user.distance ==  choice[1] %}selected="selected"{% endif %}>
            {{choice[0]|escape}}
          </option>
        {% endfor %}
      </select>
    <p>URL <input type="text" name="link" value="{{user.link or ''|escape}}">
    <p>Private <input type="checkbox" name="private" value="1" {% if user.private %}checked="checked"{% endif %}>
    <p><input type="submit" value="Add me to the map" {% if not user.location %}style="display:none"{% endif %}>
  </form>
{% endblock %}
