<h2><a href="{{user.permalink()|escape}}" class="async">{{user.preferred_name()|escape}}</a></h2>

<div class="user-details">
  <p class="gravatar"><img src="{{user.gravatar()|escape}}" width="40" height="40">

  {% if user.link %}
    <p class="link"><a href="http://{{user.link|escape}}">{{user.pretty_link()|escape}}</a>
  {% endif %}

  {% if user.city %}
    <p class="city">{{user.city|escape}}</p>
  {% endif %}
</div>

<h3>Organizing</h3>

<ul>
  {% for event in organizing %}
    <li>{% include "sections/event.html" %}</li>
  {% else %}
    <li>None</li>
  {% endfor %}
</ul>

<h3>Attending</h3>

<ul>
  {% for event in attending %}
    <li>{% include "sections/event.html" %}</li>
  {% else %}
    <li>None</li>
  {% endfor %}
</ul>
