{% extends "wrapper.html" %}
{% block content %}
  <h2>{{ user.name }}</h2>
  
  <p><img src="{{ user.gravatar() }}" width=40 height=40 />
  <p><a href="http://{{ user.link }}">{{ user.pretty_link() }}</a></p>
  <p>{{ user.city }}</p>
  
  <h3>organizer:</h3>
  <ul>
    {% for event in organizing %}
    <li>
      {% include "sections/event.html" %}
    </li>
    {% endfor %}    
  </ul>

  <h3>attendee:</h3>
  <ul>
    {% for event in attending %}
    <li>
      {% include "sections/event.html" %}
    </li>
    {% endfor %}    
  </ul>

{% endblock %}
