{% extends "wrapper.html" %}

{% block main %}
  <h2>SpaceUp People</h2>

  <form action="/people" class="async">
    <p><input type="text" name="q" value="{{query or ''|escape}}">
    <input type="submit" value="Search"></p>
  </form>
  <ul>
    {% for user in users %}
    <li><a href="{{user.permalink()|escape}}" class="async person">{{ user.preferred_name() }}</a> {% include "sections/user.html" %}</li>
    {% else %}
      {% if query %}<li>No results</li>{% endif %}
    {% endfor %}    
  </ul>
{% endblock %}
