{% extends "wrapper.html" %}
{% block content %}
  <h2>{{event.name}}</h2>
  {% if event.link %}
    <a href="{{event.link|escape}}">{{event.link|escape}}</a>
  {% endif %}
  {% for user in attending %}
    
  {% else %}
    <p>Nobody attending
  {% endfor %}
  {% for user in organizers %}
    
  {% else %}
    <p>Nobody organizing
  {% endfor %}
  <p>{{interested}} interested
  {% if handler.current_user().is_attending(event) %}
    <p>You are attending this event
  {% else %}
    <form action="{{event.permalink()}}/add" method="post">
      <input type="submit" value="I'm attending">
    </form>
  {% endif %}
{% endblock %}
