{% extends "wrapper.html" %}

{% block main %}
  <h2>{{event.name|escape}}</h2>
  <p>{{ event.city|escape }}</p>
  <p>{{ event.date|escape }}</p>
  {% if event.link %}
    <p><a href="{{event.link|escape}}">{{event.pretty_link()|escape}}</a></p>
  {% endif %}

  <p>{{ interested }} interested

  {% if attendee_count > 0 %}
  <p>{{ attendee_count }} attending:
  {% endif %}

  {% if handler.current_user() %}
    {% if handler.current_user().is_attending(event) %}

    {% else %}
      <form action="{{event.permalink()|escape}}/attending/add" method="post">
        <input type="submit" value="I'm attending this">
        <input type="checkbox" name="organizer" id="organizer_chk" value="1"> <label for="organizer_chk">and organizing too!</label>
      </form>
    {% endif %}
  {% else %}
    <p><a href="/people/add" class="async">Add yourself</a>
  {% endif %}
    
  <ul>
    {% for user in attending %}
    <li><a href="{{user.permalink()|escape}}" class="async">{{ user.preferred_name() }}</a></li>
    {% if user.is_organizing(event) %} <span class="org">organizer</span> {% endif %}
    {% include "sections/user.html" %}</li>
    {% endfor %}
  </ul>
{% endblock %}
