{% extends "wrapper.html" %}

{% block main %}
  <h2>{{event.name|escape}}</h2>
  <p class="cityinfo"><span>{{ event.city|escape }}</span>
  {% if event.date %}
    <span>{{ event.date|escape }}</span>
  {% else %}
    <span><em>No date set yet.</em></span>
  {% endif %}
  {% if event.link %}
    <span><a href="http://{{event.link|escape}}"  class="link">{{event.pretty_link()|escape}}</a></span>
  {% endif %}
  </p>

  <p>{{ interested_count }} people want to know about this

  {% if attendee_count > 0 %}
  <p>{{ attendee_count }} attending:
  {% endif %}

  {% if handler.current_user() %}
    {% if handler.current_user().is_attending(event) %}

    {% else %}
      <form action="{{event.permalink()|escape}}/attending/add" method="post" class="async">
        <input type="submit" value="I'm attending this">
        <input type="checkbox" name="organizer" id="organizer_chk" value="1"> <label for="organizer_chk">and organizing too!</label>
      </form>
    {% endif %}
  {% else %}
    <p><a href="/people/add" class="async">Add yourself</a>
  {% endif %}
    
  <ul>
    {% for user in attending %}
    <li class="attendee"><a href="{{user.permalink()|escape}}" class="async person">{{ user.preferred_name() }}</a>
    {% if user.is_organizing(event) %} <span class="org">organizer</span> {% endif %}
    {% include "sections/user.html" %}</li>
    {% endfor %}
  </ul>
{% endblock %}
