{% extends "wrapper.html" %}
{% block js %}
<script src="/js/maps.js"></script>
{% endblock %}

{% block content %}
  <div id="map-key">
    <div class="what">
      <strong>SpaceUp</strong>	
      unconference map
    </div>
    <div class="key-actions">
      <ul>
        <li>
          <span class="circle"></span>
          <strong>People -</strong> 
          <a href="#" id="add-yourself">add yourself</a> -
          <a href="#" id="find-someone">find someone</a>
        </li>
        <li>
          <span class="marker"></span>
          <strong>SpaceUps -</strong> 
          <a href="#" id="add-event">add one</a> -
          <a href="#" id="find-someone">browse</a>
        </li>
      </ul>
    </div>
    <div class="cleaner"></div>
  </div>
  <div class="grid_4">
    {% if handler.current_user() %}
    <p>You are {{handler.current_user().preferred_name()|escape}}</p>
    <p>You are in {{handler.current_user().city|escape}}</p>
    <p>Your URL is <a href="http://{{handler.current_user().link|escape}}">{{handler.current_user().link|escape}}</a></p>
    <p><a href="{{handler.logout_url()|escape}}">log out</a></p>
    {% else %}
    <p><a href="{{handler.login_url("/people/add")|escape}}">Add yourself</a></p>
    {% endif %}
  </div>

  <div class="grid_8">
    {% include 'sections/map.html' %}
  </div>
{% endblock %}
