{% extends "wrapper.html" %}

{% block main %}
  {% if state %}
    {% include state+".html" %}
  {% else %}
    <p>SpaceUp is a <strong>space unconference</strong>, where attendees decide what to talk about. Unconferences like BarCamp have been held about technology, science, and even cupcakes, but this is the first one just about space.
  
    <p>This <strong>Haemapod</strong> map lets you find SpaceUps in a city near you, and it also lets organizers know if you're willing to attend their SpaceUp. Don't see one? <a href="/people/add" class="async">Add yourself to the map</a> and we'll let you know when one gets scheduled.
  {% endif %}
{% endblock %}
